@page
@model Product_Tutorial.Pages.Admin.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductTable</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTable.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTable.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTable.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTable.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTable.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTable.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTable.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTable.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTable.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTable.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTable.ImageFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTable.ImageFileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTable.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTable.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductTable.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
